body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: #418207;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 60% 15% 15%;
}

header {
    width: 100%;
    border-bottom: 2px solid #418207;
    grid-area: 1 / 1 / 2 / -1;
    text-align: center;
}

main.big-text {
    grid-area: 2 / 2 / 3 / 3;
    padding-right: 5em;
}

aside.inventory {
    grid-area: 2 / 1 / 4 / 2;
    padding-left: 5em;
    display: flex;
    flex-direction: column;
}

aside ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

section.input-div {
    grid-area: 3 / 2 / 4 / 3;
    padding-right: 5em;
}

#text-input {
    height: 100%;
    width: 100%;
}

textarea {
    background-color: black;
    color: #418207;
}

button {
    display: none;
}

footer.commands-box {
    grid-area: -2 / 1 / -1 / -1;
    display: flex;
    align-items: center;
    padding-right: 5em;
    padding-left: 5em;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}